<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ work.title }}</title>
</head>
<body>
    <h1>{{ work.title }}</h1>
    <img src="/{{ work.image_path }}" alt="Artwork Image" width="300"><br>
    <p>Description: {{ work.description }}</p>
    <p>Artist: <a href="{{ url_for('user.artist_public_page', artist_id=work.artist_id) }}">{{ work.artist.name }}</a></p>
    <p>Manufacturing Specs: {{ work.manufacturing_specs }}</p>
    <p>Hard Tags: {{ work.hard_tags | safe }}</p>
    <p>Soft Tags: {{ work.soft_tags | safe }}</p>

    

    <!-- Add artwork to Favorites -->
    {% if session['role'] == 'customer' %}
    <form action="{{ url_for('user.add_to_favorites', artwork_id=work.id) }}" method="post">
        <button type="submit">Add to Favorites</button>
    </form>
    {% endif %}

    <!-- Follow Artist -->
    {% if session['role'] == 'customer' and customer and work.artist not in customer.followed_artists %}
    <form action="{{ url_for('user.follow_artist', artist_id=work.artist.id) }}" method="post">
        <button type="submit">Follow {{ work.artist.name }}</button>
    </form>
    {% endif %}

    <!-- Section to Display Approved Products for This Artwork -->
    <h2>Approved Products</h2>
    {% if approved_products %}
        <ul>
            {% for product in approved_products %}
                <li>
                    <h3>{{ product.name }}</h3>
                    <p>Production Specs: {{ product.production_specs }}</p>
                    <p>Product Description: {{ product.description }}</p>
                    <p>Manufacture Type: {{ product.manufacture_type }}</p>
                    <!-- Optional: Link to View More Details -->
                    <a href="{{ url_for('user.product_public', product_id=product.id) }}">View Product Details</a>

                    {% set production_round = product.production_rounds|selectattr('is_published', 'equalto', True)|first %}
                    {% if production_round %}
                    <!-- Add to Cart Form -->
                    <h3>Add to Cart</h3>
                    <form action="{{ url_for('user.add_to_cart', round_id=production_round.id) }}" method="post">
                        <label for="quantity">Quantity:</label>
                        <input type="number" id="quantity" name="quantity" min="1" required><br><br>
                        <input type="submit" value="Add to Cart">
                    </form>
                    {% else %}
                        <p>No production round details available for this product at the moment.</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No approved products available for this artwork yet.</p>
    {% endif %}

    <a href="{% if session['role'] == 'customer' %}{{ url_for('user.customer_home') }}{% else %}{{ url_for('user.home') }}{% endif %}">Back to Home</a>
</body>
</html>
