<!doctype html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Manage Stock</title>
</head>
<body class="container">
    <h1 class="mt-5">Manage Stock</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="post">
        <button type="submit" class="btn btn-danger">Manage Stock for Current Orders</button>
    </form>
    <a href="{{ url_for('user.home') }}" class="btn btn-primary mt-3">Back to Home</a>
</body>
</html>
